<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type = "text/css" href="/welcomestyle.css">
<head>
	<title>Simple Web Reader</title>
</head>
<body> 
	<div class="header">
		<h1>Welcome to the Simple Web Reader Program</h1>
		<h5>Version 1.0</h5>	
	</div>
	<div class="links">
		<a href="/greeting">Continue to Form</a>	
	</div>
	<div class="im1">
		<img src="/images/readingImage1.jpg" alt="Reading 1"> 
	</div>
	
	<div class="im2">
		<img src="/images/readingImage2.jpg" alt="Reading 2"> 
	</div>
	
	<div class="im3">
		<img src="/images/readingImage3.jpg" alt="Reading 3"> 
	</div>
	
	<div class="im4">
		<img src="/images/readingImage4.jpg" alt="Reading 4"> 
	</div>
	
	<div class="footer">
		<p>Created by Sky Laidman</p>
		<p>2021</p>
	</div>
</body>